#meme-image-container
{

  position: absolute;
  background-color: white;
  border: 1px solid black;
}

#meme-text
{

  position: relative;
  margin: auto;
  top: 35px;
  left: -280px;

  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
}

#fire
{

  background-color: rgb(255,0,0);
}

#water
{

  background-color: blue;
}

#earth
{

  background-color: green;
}
/*  */