#meme-image-container
{

  position: absolute;
  background-color: white;
  border: 1px solid black;
}

#meme-text
{

  position: absolute;
  margin: auto;
  top: 50px;
  left: 30px;
  width: 200px;
  text-align: center;
  word-wrap: break-word;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
  border: 2px solid red
}

#fire
{

  background-color: rgb(255,0,0);
}

#water
{

  background-color: blue;
}

#earth
{

  background-color: green;
}
/*  */